body {
	margin: 0;
	font-family: 'Roboto';
}

.messages {
	margin: 20px;
	width: 450px;
	display: flex;
	flex-direction: column;
}

.item {
	border-radius: 2px;
	max-width: 80%;
}

.item p {
	display: inline-block;
	margin: 5px 0;
}

.host {
	align-self: flex-end;
}
.guest p {
	background: #F1F0F0;
	padding: 10px;
}
.host p {
	background: #1F8CC1;
	color: #FFF;
	padding: 10px;
}
